<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

<div th:replace="fragments/header"></div>

<div class="container">
    <h2>Login</h2>
    <form action="#" th:action="@{/api/users/login}" method="post" th:object="{user}>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:field="*{username}" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}" required>

        <button type="submit">Login</button>
    </form>
</div>

<div th:replace="fragments/footer"></div>

</body>
</html>
